In [1]:
import pandas as pd

data1 = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
data2 = {'A': [9, 8, 7], 'B': [6, 5, 4], 'C': [3, 2, 1]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)



# 기본 연산
print(df1 + df2)



# 집계 함수
print(df1.mean())  #열 기준 평균


print(df1.mean(axis=1))  #행 기준 평균

    A   B   C
0  10  10  10
1  10  10  10
2  10  10  10
A    2.0
B    5.0
C    8.0
dtype: float64
0    4.0
1    5.0
2    6.0
dtype: float64

In [2]:
import pandas as pd

data = {'A': [1, 2, 3, 4, 5, 3]}
df = pd.DataFrame(data)

# 평균 (Mean)
mean_value = df['A'].mean()
print(f"Mean: {mean_value}")  # 결과: 3.0

# 중앙값 (Median)
median_value = df['A'].median()
print(f"Median: {median_value}")  # 결과: 3.0

# 최빈값 (Mode)
mode_value = df['A'].mode()
print(f"Mode: {mode_value[0]}")  # 결과: 3

# 분산 (Variance)
variance_value = df['A'].var()
print(f"Variance: {variance_value}")  # 결과: 2.0

# 표준편차 (Standard Deviation)
std_value = df['A'].std()
print(f"Standard Deviation: {std_value}")  # 결과: 1.4142135623730951

Mean: 3.0
Median: 3.0
Mode: 3
Variance: 2.0
Standard Deviation: 1.4142135623730951

In [37]:
import pandas as pd

df = pd.read_csv('tips.csv')

#데이터 읽어와서, 어떤게 있는지 부터 확인!


df.head()

#print(df.head())
#print(df.info())

# row = df.loc[df['total_bill']>20]
# print(row)

# sex = df.loc[df['sex'] == 'Female']
# print(sex)
df.loc[df['total_bill']>20]
df.loc[df['sex'] == 'Female']
df.loc[(df['day'] == 'Sun') & (df['time'] == 'Dinner')]
df.loc[(df['tip']>5) & ((df['size'] == 3) | (df['size'] == 4))] #loc는 컴마 선택등 조건으로 가능.
#아래랑 같다 //loc는 행과 열 동시접근이 가능하댱~
df[(df['tip']>5) & (df['size'].isin([3,4]))] #그냥 df는 불리언이니 컴마 조건이 안되겠지?

#df[['total_bill','tip', 'size']]

     total_bill    tip     sex smoker   day    time  size
23        39.42   7.58    Male     No   Sat  Dinner     4
44        30.40   5.60    Male     No   Sun  Dinner     4
47        32.40   6.00    Male     No   Sun  Dinner     4
52        34.81   5.20  Female     No   Sun  Dinner     4
59        48.27   6.73    Male     No   Sat  Dinner     4
85        34.83   5.17  Female     No  Thur   Lunch     4
116       29.93   5.07    Male     No   Sun  Dinner     4
170       50.81  10.00    Male    Yes   Sat  Dinner     3
183       23.17   6.50    Male    Yes   Sun  Dinner     4
211       25.89   5.16    Male    Yes   Sat  Dinner     4
212       48.33   9.00    Male     No   Sat  Dinner     4
214       28.17   6.50  Female    Yes   Sat  Dinner     3
239       29.03   5.92    Male     No   Sat  Dinner     3